<h1>My Collection</h1>

<div class='container'>
	<% @user.photos.each do |photo| %>
	<div><%= link_to (image_tag photo.image.url(:medium)), photo_path(photo) %></div>
		<h3><%= photo.location %> </h3>
		<p><%= photo.description %> </p>

	<% end %>
	
</div>

