<h1>Photos</h1>
<%= image_tag @photo.image.url(:medium) %>
  <p>
    <%= @photo.location %>
  </p>
  <div>
    <%= link_to "Cancel", photos_path %>
    <%= link_to "Edit Photo", edit_photo_path(@photo) %>
  </div>

